# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Large raw files can be ignored if needed
# data/